    
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav {
    display: block;
}
body {
    line-height: 1.5;
}

blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/************************************************/
:root {
    --grad-one: linear-gradient(170deg, rgba(0, 119, 192, 1) 0%, rgba(65, 86, 166, 1) 25%, rgba(111, 44, 145, 1) 50%, rgba(183, 39, 85, 1) 75%, rgba(237, 27, 47, 1) 100%);
    --grad-two: linear-gradient(170deg, rgba(0, 119, 192, 1) 0%, rgba(65, 86, 166, 1) 70%);
    --grad-three: linear-gradient(170deg, rgba(65, 86, 166, 1) 0%, rgba(111, 44, 145, 1) 85%);
    --grad-four: linear-gradient(170deg, rgba(111, 44, 145, 1) 0%, rgba(183, 39, 85, 1) 85%);
    --primary-blue: #0077c0;
    --secondary-blue: #4156a6;
    --purple: #6f2c91;
    --secondary-red: #b72755;
    --primary-red: #DA1F3D;

    --gray: #696969;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: arial, sans-serif;
    color: #696969;
    color: var(--gray);
    font-size: 2rem;
}

button {
    background: transparent;
    border: none;
    color: #696969;
    font-size: 6rem;
    position: absolute;
    right: 0;
    top: -2rem;
    outline: none;
}

/************************************************/
/* Start */
/************************************************/

/* Cards */
.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.action-call {
    display: flex;
    justify-self: center;
    align-items: flex-start;
    flex-direction: column;
}

.comp-card {
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 2rem;
    width: 23rem;
}

.comp-card h2 {
    font-size: 2rem;
    font-weight: bolder;
}

.leader-card {
    border: 0.7rem solid #0077c0;
    border: 0.7rem solid var(--primary-blue);
}

.player-card {
    border: 0.7rem solid #4156a6;
    border: 0.7rem solid var(--secondary-blue);
}

.innovation-card {
    border: 0.7rem solid #6f2c91;
    border: 0.7rem solid var(--purple);
}

.customer-card {
    border: 0.7rem solid #b72755;
    border: 0.7rem solid var(--secondary-red);

}

.inclusive-card {
    border: 0.7rem solid #DA1F3D;
    border: 0.7rem solid var(--primary-red);
}

html {
    height: 100%;
}

#start-screen {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.details-list {
    list-style: none;
    padding: 0;
}

#start-btn {
    align-self: center;
    padding: 2.5rem 10rem;
    color: #fff;
    font-weight: bolder;
    border-radius: 1rem;
    display: inline;
    text-align: center;
    background-color: #4156a6;
    background-color: var(--secondary-blue);
    display: block;
    font-size: 3rem;
    margin: 6rem 0;
}

#start-btn:hover {
    background: linear-gradient(170deg, rgba(0, 119, 192, 1) 0%, rgba(65, 86, 166, 1) 25%, rgba(111, 44, 145, 1) 50%, rgba(183, 39, 85, 1) 75%, rgba(237, 27, 47, 1) 100%);
    background: var(--grad-one);
    cursor: pointer;
}

/************************************************/
/* Slides */
/************************************************/

/* Modal stuff */
#start-screen {
    height: 100vh;
    transition: max-height 500ms ease-out, background-color 500ms ease-out;

}

#modal {
    overflow-y: auto;
    transition: max-height 500ms ease-out, background-color 500ms ease-out;
    height: auto;
    max-height: 0px;
}

.slides-container {
    width: 65rem;;
}

.slides {
    margin-bottom: 4rem;
}


.active-slide > * {
    padding-left: 5rem;
}

.slide {
    transition: all 500ms fade-out;
}
.leaders-slide h1 {
    color: #0077c0;
    color: var(--primary-blue);
}

.leaders-slide .category-header {
    background: #0077c0;
    background: var(--primary-blue);
}

.team-slide h1 {
    color: #4156a6;
    color: var(--secondary-blue);
}

.team-slide .category-header {
    background: #4156a6;
    background: var(--secondary-blue);
}

.innovative-slide h1 {
    color: #6f2c91;
    color: var(--purple);
}

.innovative-slide .category-header {
    background: #6f2c91;
    background: var(--purple);
}

.customer-slide h1 {
    color: #b72755;
    color: var(--secondary-red);
}

.customer-slide .category-header {
    background: #b72755;
    background: var(--secondary-red);
}

.inclusive-slide h1 {
    color: #DA1F3D;
    color: var(--primary-red);
}

.inclusive-slide .category-header {
    background: #DA1F3D;
    background: var(--primary-red);
}

.category-header {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 4rem;
    color: white;
}

.category-header span {
    font-weight: bolder;
    font-style: italic;
    font-size: 2.5rem;
    margin-left: 0.3rem;
}

.gray {
    color: #696969;
    color: var(--gray);
}

h1 {
    font-size: 5rem;
    margin-bottom: 3rem;
    line-height: 1;
}

.question {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.container {
    display: flex;
    flex-direction: row;
    padding-top: 8rem;
    justify-content: center;
    height: 100vh;
}

.slide {
    display: none;
}

.active-slide {
    display: block;
    color: #696969;
    color: var(--gray);
    
}

.active-slide header,
.active-slide .columns {
    transition: all ease-out 500ms;
    animation-duration: 800ms;
    animation-name: fadein;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

ul,
ol {
    padding-left: 2rem;
}

details {
    margin: 3rem 5rem;
    border: 0.3rem solid #696969;
    border-radius: 1rem;
    padding: 1rem 2rem !important;
}

summary {
    outline: none;
}

details div {
    padding: 1rem;
    max-width: 50ch;
}

details:focus {
    outline-color: var(--primary-blue);
}
details:hover {
    cursor: pointer;
    background: linear-gradient(170deg, rgba(0, 119, 192, 1) 0%, rgba(65, 86, 166, 1) 25%, rgba(111, 44, 145, 1) 50%, rgba(183, 39, 85, 1) 75%, rgba(237, 27, 47, 1) 100%);
    background: var(--grad-one);
    color: white
}

footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.arrow {
    font-size: 10rem;
    font-weight: bolder;
    font-weight: bolder;
    line-height: 0.8;
    font-family: monospace;
}

#close div {
    font-size: 8rem;
}

#close {
    display: none;
}

.self-review,
.control {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    height: fit-content;
}

.control:hover {
    cursor: pointer;
}

.control:hover div {
    background: linear-gradient(170deg, rgba(0, 119, 192, 1) 0%, rgba(65, 86, 166, 1) 25%, rgba(111, 44, 145, 1) 50%, rgba(183, 39, 85, 1) 75%, rgba(237, 27, 47, 1) 100%);
    background: var(--grad-one);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.resultsHover:hover div {
    /* -webkit-text-stroke: transparent !important; */
}

.self-review:hover {
    background: linear-gradient(170deg, rgba(0, 119, 192, 1) 0%, rgba(65, 86, 166, 1) 25%, rgba(111, 44, 145, 1) 50%, rgba(183, 39, 85, 1) 75%, rgba(237, 27, 47, 1) 100%);
    background: var(--grad-one);
    cursor: pointer;
}

#negative {
    margin-right: 0rem;
}

input {
    transition: 500ms transform ease-out;
    outline: none;
}

input[type="image"] {
    max-width: 100px;
}

img {
    max-width: 100px;
}

.self-review {
    padding: 2rem 0;
    border-radius: 1rem;
    margin-right: 2rem;
    width: 20rem;
    color: #fff;
}

.self-review:hover {
    background: linear-gradient(170deg, rgba(0, 119, 192, 1) 0%, rgba(65, 86, 166, 1) 25%, rgba(111, 44, 145, 1) 50%, rgba(183, 39, 85, 1) 75%, rgba(237, 27, 47, 1) 100%);
    background: var(--grad-one);
    /* border-color: #696969; */
    cursor: pointer;
}

/* TODO: add class */
span {
    margin-top: 1rem;
}

#next,
#previous {
    margin: 18rem 5rem;
    height: max-content;
    display: none;
}

.selected {
    border-color: transparent;
    background-color: rgb(39, 167, 222) !important;
}

.selected input[type=image] {
    transform: scale(1.3);
}

/************************************************/
/* Results Slide */
/************************************************/

div#restart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

#restart img:hover {
    filter: sepia(100%) hue-rotate(178deg) saturate(827%);
    cursor: pointer;
}

.results,
.results .control,
#start-screen {
    color: #696969;
    color: var(--gray);
}

.lists section {
    border: 0.7rem solid #696969;
    border: 0.7rem solid var(--gray);
    padding: 2rem 0;
    border-radius: 1rem;
    margin-right: 2rem;
    width: 20rem;
    text-align: center;
}

.results .lists {
    display: flex;
    justify-content: space-between;
    font-weight: bolder;
}

.results ul {
    list-style: none;
    padding-left: 0;
}

.leaders {
    color: #0077c0;
    color: var(--primary-blue);
}

.team-players {
    color: #4156a6;
    color: var(--secondary-blue);
}

.innovative {
    color: #6f2c91;
    color: var(--purple);
}

.customer-obsessed {
    color: #b72755;
    color: var(--secondary-red);
}

.inclusive {
    color: #DA1F3D;
    color: var(--primary-red);
}

.leaders-bg {
    background-color: #0077c0;
    background-color: var(--primary-blue);
    font-weight: bolder;
    color: #fff;
}

.team-players-bg {
    background-color: #4156a6;
    background-color: var(--secondary-blue);
    font-weight: bolder;
    color: #fff;
}

.innovative-bg {
    background-color: #6f2c91;
    background-color: var(--purple);
    font-weight: bolder;
    color: #fff;
}

.customer-obsessed-bg {
    background-color: #b72755;
    background-color: var(--secondary-red);
    font-weight: bolder;
    color: #fff;
}

.inclusive-bg {
    background-color: #DA1F3D;
    background-color: var(--primary-red);
    font-weight: bolder !important;
    color: #fff;
}

.results {
    width: 78.6rem;
}

.rainbow span {
    display: inline-block;
    padding: 1rem;
    margin: 2rem 0;
    font-size: 2rem;
}

.action-call h1.rainbow {
    color: var(--secondary-blue);
    font-size: 9.3rem;
    font-weight: bolder;
    margin-bottom: 0;
    text-decoration: none;
    line-height: 1.3;
    font-size: 6.1rem;
    max-width: 1400px;
}

.results h1.rainbow {
    background: #4156a6;
    background: linear-gradient(170deg, rgba(0, 119, 192, 1) 0%, rgba(65, 86, 166, 1) 25%, rgba(111, 44, 145, 1) 50%, rgba(183, 39, 85, 1) 75%, rgba(237, 27, 47, 1) 100%);
    background: var(--grad-one);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3.8rem;
    font-weight: bolder;
    margin-bottom: 3rem;
    text-decoration: none;
}

/* IE10+ CSS styles go here */
@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .action-call h1.rainbow, 
    .results h1.rainbow {
        color: #4156a6;
        background: transparent;
    }
    .control:hover div {
        color: rgb(148, 146, 146);
        background: transparent;
    }
    .resultsHover:hover div {
        color: #8a8a8a
    }
    input[type="image"] {
        width: 100px;
    }
}


/************************************************/
/* Mobile Styles */
/************************************************/
@media screen and (max-device-width: 1295px) { 
    body {
        font-size: 1.4rem;
    }

    /* .action-call {
        padding: 1rem;
    } */

    .container {
        padding-top: 4rem;
    }

    .category-header span {
        font-size: 2.1rem;
    }

    header {
        padding-right: 1rem;
    }

    h1 {
        font-size: 3rem;
        margin-bottom: 2rem;
    }

    .question {
        font-size: 2rem;
    }

    .cards {
        /* flex-direction: column;
        align-items: center; */
        display: none;
    }

    .comp-card {
        margin: 2rem 0;
    }

    .action-call h1.rainbow {
        font-size: 3.3rem;
        line-height: 1.2;
        margin: 2rem 2rem 0 2rem;
    }

    #start-btn {
        margin: 0 2rem;
        display: block;
        font-size: 2rem;
    }

    .action-call {
        display: block;
    }

    .action-call p {
        margin: 2rem;
    }

    .columns {
        padding-right: 1rem;
    }

    .arrow, 
    #close div {
        font-size: 4rem;
    }

    .control {
        padding: 2rem 0.5rem;
    }

    .control span,
    .self-review span {
        display: none;
    }

    #next, #previous {
        margin: 10rem 0rem;
    }


    #next {
        position: absolute;
        right: 0rem;
    }

    #previous {
        position: absolute;
        left: 0rem;
    }

    .slides {
        margin-bottom: 0;
        width: 100%;
    }

    .slides-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .self-review {
        width: 8rem;
    }

    input[type="image"] {
        width: 5rem;
    }

    .results {
        width: 100vw;
    }

    .results > * {
        padding-left: 0;
    }

    .results h1.rainbow {
        margin: 3rem;
        font-size: 3.3rem;
    }

    div.rainbow {
        display: none;
    }

    .results .lists {
        flex-direction: column;
        align-items: center;
    }

    .results section {
        margin-bottom: 1rem;
    }

}

